.hero-banner {
  display: flex;
  background-color: aqua;
  flex-direction: row; /* set flex direction to horizontal */
}

.hero-banner img {
  flex: 1;
  overflow: hidden;
  width: 50%;
  transition: all 0.2s;
  padding-right: 70px;
}



.hero-content {
  flex: 1; /* set text to grow or shrink as needed */
  padding: 20px;
}

.hero-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-content .btn {
  font-size: 18px;
}
